@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype"); }

body {
  padding: 0;
  margin: 0;
  background-color: #F8F8F8;
  font-family: 'TT Lakes', 'Arial', sans-serif; }

.button {
  cursor: pointer;
  background-color: #FF3E79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

.button--circle {
  width: 40px;
  height: 40px; }

.title {
  padding-left: 32px;
  position: relative;
  font-family: 'TT Lakes Bold', 'Arial', sans-serif;
  font-size: 28px;
  margin-top: 30px;
  display: inline-block; }

.title:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% + 10px);
  width: 8px;
  border-radius: 10px;
  background-color: #41F6D7;
  left: -4px;
  top: -5px; }

.header {
  display: flex;
  background-color: #fff;
  padding: 16px;
  align-items: center;
  border-bottom: 1px solid #D9FFF5; }

@media (min-width: 1120px) {
  .header {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    border: none; } }

.button--menu {
  background-image: url(./static/menu_icon.svg); }

@media (min-width: 1120px) {
  .header__menu-button {
    display: none; } }

.header__logo {
  margin: 0 auto 0 16px; }

@media (min-width: 1120px) {
  .header__logo {
    display: none; } }

.buttons-list {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative; }

.buttons-list--contacts {
  display: none; }

@media (min-width: 768px) {
  .buttons-list--contacts {
    display: flex;
    margin-right: 16px; } }

@media (min-width: 1120px) {
  .buttons-list--contacts {
    display: none; } }

.buttons-list--service:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA; }

@media (min-width: 1120px) {
  .buttons-list--service:before {
    display: none; } }

.button--phone {
  background-image: url(./static/phone_icon.svg); }

.button--message {
  background-image: url(./static/message_icon.svg); }

.button--profile {
  background-image: url(./static/profile_icon.svg); }

.buttons-list__button {
  margin-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.buttons-list__link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  position: relative; }

.buttons-list__link:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF3E79;
  background-position: center;
  background-repeat: no-repeat; }

.buttons-list__link--callback:after {
  background-image: url(./static/callback_icon.svg); }

.buttons-list__link--status:after {
  background-image: url(./static/service_status_icon.svg); }

.buttons-list__button-text {
  display: none;
  margin-right: 8px;
  font-family: 'TT Lakes Medium', sans-serif; }

@media (min-width: 1120px) {
  .buttons-list__button-text {
    display: block; } }

.nav__list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0;
  list-style: none; }

@media (min-width: 1120px) {
  .nav__list {
    overflow-x: auto;
    flex-wrap: wrap; } }

.nav__item {
  white-space: nowrap;
  margin-left: 16px; }

.nav__link--active {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px; }

.nav__link {
  color: #7E7E82;
  text-decoration: none;
  display: block;
  padding: 12px 16px; }

@media (min-width: 768px) {
  .content {
    display: flex;
    padding: 16px; }
  .content__text {
    width: 50%; }
  .content__img-block {
    width: 50%; } }

.content__text {
  padding: 16px;
  position: relative; }

.expand-block {
  display: block;
  height: 100px;
  overflow: hidden; }

@media (min-width: 768px) {
  .expand-block {
    height: 150px; } }

@media (min-width: 1120px) {
  .expand-block {
    height: auto; } }

.expand-button {
  color: #000;
  text-decoration: none;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14pt;
  margin-top: 16px;
  border: none;
  background-color: transparent;
  padding-left: 30px;
  position: relative;
  cursor: pointer; }

.expand-button:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(./static/expand_icon.svg);
  left: 0;
  top: 0; }

.expand-block__expand-icon {
  margin-right: 8px; }

.main-content__img-block {
  margin-top: 16px; }

.img-block__img {
  width: 100%;
  height: auto; }

body {
  background-color: hotpink; }


/*# sourceMappingURL=main.css.map*/