@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
}

body{
  background-color: #F8F8F8;
  font-family: "TT Lakes", sans-serif;
  padding:0;
  margin:0;
}

.section__header{
  padding:16px 16px;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
}

@media(min-width: 768px){
  .section__header {
    padding: 16px 30px;
  }
}

.section__title{
  text-transform: uppercase;
  color: #7E7E82;
  margin:0;
}

.section__content{
  padding:0 16px;
}

@media(min-width: 768px){
  .section__content{
    padding: 0 30px;
  }
}

@media(min-width: 768px){
  .slider{
    height:200px;
    overflow: hidden;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .slider--expand{
    height:auto;
  }
}

.slider__wrapper{
  list-style: none;
  padding:0;
}

@media(min-width: 768px){
  .slider__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media(min-width: 768px){
  .slider__wrapper:after {
    content: '';
    flex: 0 0 240px;
  }
}

@media(min-width: 1376px){
  .slider__wrapper:after {
    flex:auto;
  }
}

.slider-item{
  width:240px;
  height: 72px;
  background-color: #fff;
  margin-bottom: 28px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  padding:0 16px;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  transition-property: transform;
  flex-shrink: 0;
}

@media(min-width: 768px){
  .slider-item{
    flex-shrink: 0;
    flex-grow: 0;
    margin: 8px 0;
    flex-basis: 240px;
  }
}

@media(min-width: 1500px){
  .slider-item{
    margin: 8px 8px;
  }
}

.slider-pagination{
  display:flex;
  justify-content: center;
}

.slider .swiper-pagination-bullet{
  width: 12px;
  height:12px;
}

.slider .swiper-pagination-bullet-active{
  background-color: #B5B6BC;
}

.slider-item__button{
  display:block;
  width:40px;
  height:40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  background-image: url(../img/icons/arrow_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.expand-button{
  display:none;
}

@media(min-width: 768px){
  .expand-button{
    display: block;
    color:#000;
    text-decoration: none;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 14pt;
    margin-top: 16px;
    border:none;
    background-color: transparent;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
  }

  .expand-button:before{
    content: "";
    width:30px;
    height:30px;
    position:absolute;
    background-image: url(../img/icons/expand_icon.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    left:0;
    top:0;
    transition-duration: .5s;
  }

  .expand-button--expanded:before{
    transform: rotate(180deg);
    top:-25%;
  }
}
